<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<div>
    <img src="https://email.vitaparapharma.com/image/vitaparapharma_logo.png" alt="Vitapara Pharma Logo"
         style="display: block; margin: 0 auto; max-width: 200px;">
</div>
<p>Dear Recipient,</p>
<p>We received a request to reset your password for your account with Vitapara Pharma.</p>
<p>If you did not request this password reset, please disregard this email. Your account security is important to
    us.</p>
<p>To reset your password, please click the following link:</p>
<p><a th:href="${link}" style="color: #0000EE; text-decoration: none;">Reset Password</a></p>
<p>If you are unable to click the link, you can copy and paste the following URL into your browser:</p>
<p th:text="${link}"></p>
<p>This link will expire in 24 hours for security reasons.</p>
<p>For your reference, please find below the details of this password reset request:</p>
<ul>
    <li><strong>Expiration:</strong> <span id="expiration_date" th:text="${expiration}"></span></li>
    <li><strong>Code:</strong> <span id="verification_code" th:text="${code}"></span></li>
</ul>
<p>If you have any questions or need further assistance, please don't hesitate to contact us via email at <strong>xtech.official.eg@gmail.com</strong>
    or via WhatsApp at >
<p>Thank you for your attention to this matter.</p>
<p>Best regards,</p>
<p>Vitaparapharma Team</p>
</body>
</html>
